[default]
  # max_worker_threads should be increased with increasing number of custom checks
  # but consider: each thread needs (a bit) memory
  max_worker_threads = 8

[check_whoami]
  command = whoami
  interval = 60
  timeout = 5
  enabled = false

#[check_users]
#  command = /usr/lib/nagios/plugins/check_users -w 5 -c 10
#  interval = 30
#  timeout = 5
#  enabled = true

#[check_load]
#  command = /usr/lib/nagios/plugins/check_load -r -w .15,.10,.05 -c .30,.25,.20
#  interval = 60
#  timeout = 5
#  enabled = true
