<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="WixUi_Uninstall">
      <Dialog Id="SetConfigurationUnInstallDlg" Width="370" Height="270" Title="Uninstall option">
          <Control Id="NextUninstall" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"  >
            <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
          </Control>
          <Control Id="BackUninstall" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" >
            <Publish Event="SpawnDialog" Value="MaintenanceTypeDlg">1</Publish>
          </Control>
          <Control Id="CancelUninstall" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
            <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
          </Control>

          <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />

          <Control Id="RemoveInstalldirCheckBox" Type="CheckBox" X="20" Y="50" Width="330" Height="18" CheckBoxValue="1" Default="yes" Property="MYREMOVEINSTALLDIR" Text="!(loc.UninstallDlgRemoveInstalldirCheckBox)" />
          <Control Id="RemoveInstalldirDescription" Type="Text" X="20" Y="70" Width="330" Height="140" Text="!(loc.UninstallDlgRemoveInstalldirDescription)"></Control>

          <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
          <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
          <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.UninstallDlgDescription)" />
          <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.UninstallDlgTitle)" />
        </Dialog>
    </UI>
  </Fragment>
</Wix>